<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Prevent search engine indexing and caching -->
    <meta name="robots" content="noindex, nofollow, nosnippet, noarchive" />
    <meta name="googlebot" content="noindex, nofollow, nosnippet, noarchive" />
    <meta name="bingbot" content="noindex, nofollow, nosnippet, noarchive" />
    <!-- Prevent archive services from saving pages -->
    <meta name="robots" content="noarchive" />
    <meta name="archivebot-ignore" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Prevent caching -->
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{.CSS}}">
</head>

<body>
    <div class="container">
        <!-- Sidebar navigation -->
        <aside class="sidebar">
                <div class="logo"><a href="/">Space</a></div>
                <ul class="nav-menu">
                    {{range .NavItems}}
                        <li><a href="{{.URL}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
        </aside>

        <!-- Main content -->
        <main class="content">
            {{.Body}}
        </main>
    </div>
</body>
</html>